.maxVH {
    min-height: 100vh;
}

nav a:hover {
  color: #32673f;
}

nav-item a:hover {
  color: #32673f;
}


.parent-sidebar-item {

}

.child-sidebar-item {

}

.parent-sidebar-item:hover .child-sidebar-item {
    color: #0d6efd;
}


.custom-description-group {
    height: 250px;
    max-height: 250px;
    margin-bottom: 10px;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}

.custom-comments-group {
    height: 150px;
    max-height: 150px;
    margin-bottom:10px;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
}

.vstack {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: stretch;
}

.hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}


.fa-sort-desc {
  color: black;
}

.fa-sort-asc {
  color: black;
}

.fa-caret-up {
  color: black;
}

.fa-caret-down {
  color: black;
}

.test a {
  text-decoration:none;
}

.test i {
  padding: 0px;
  margin: 1px;
  width: 5px;
  height: 5px;
  color: gray;
}

.test i:hover {
  color: black;
}


.error-label label {
    display: inline-block;
    width: 150px;
}

.start-button {
    width: 450px;
    height: 200px;
    margin: 0 auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    font-size: 35px;
}

.custom-header {
    margin: 0;
    padding: 0;
}

.demo-user-icon {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    padding: 0 auto;
    display: table-cell;
    vertical-align: middle;
    font-size: 30px;
}
