<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Tickets Management System</title>
  <meta charset="utf-8">
</head>

<body>

<h2>Access Denied - You are not authorized to access this resource.</h2>

<hr>

<a th:href="@{/}">Back to Home Page</a>

</body>

</html>