<!DOCTYPE html>
<html lang="en"
      xmlns:layout="[http://www.ultraq.net.nz/thymeleaf/layout](http://www.ultraq.net.nz/thymeleaf/layout)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ticket Management System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 bg-dark">

                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline btn btn-primary">Ticket Management System</span>
                </a>

                <!-- Sidebar -->
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <div class="parent-sidebar-item">
                            <a th:href="@{/tickets/my}" class="nav-link align-middle px-0 text-white">
                                <div class="child-sidebar-item">
                                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                                </div>
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="parent-sidebar-item">
                            <a href="#ticketmenu" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
                                <div class="child-sidebar-item">
                                    <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Tickets</span>
                                </div>
                            </a>
                        </div>

                        <ul class="collapse nav flex-column ms-1 text-white" id="ticketmenu" data-bs-parent="#menu">
                            <li>
                                <div sec:authorize="hasRole('ROLE_ADMIN')">
                                    <div class="parent-sidebar-item">
                                        <a th:href="@{/tickets/all}" class="nav-link px-0 text-white">
                                            <div class="child-sidebar-item">
                                                <span class="d-none d-sm-inline">All</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="parent-sidebar-item">
                                    <a th:href="@{/tickets/my}" class="nav-link px-0 text-white">
                                        <div class="child-sidebar-item">
                                            <span class="d-none d-sm-inline">My</span>
                                        </div>
                                    </a>
                                </div>
                            </li>

                            <li>
                                <div class="parent-sidebar-item">
                                    <a th:href="@{/tickets/create}" class="nav-link px-0 text-white">
                                        <div class="child-sidebar-item">
                                            <span class="d-none d-sm-inline">New</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <div class="parent-sidebar-item">
                            <a th:href="@{/users/list}" class="nav-link px-0 align-middle text-white">
                                <div class="child-sidebar-item">
                                    <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Users</span>
                                </div>
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="parent-sidebar-item">
                            <a th:href="@{/statistics}" class="nav-link px-0 align-middle text-white">
                                <div class="child-sidebar-item">
                                    <i class="fs-4 bi-bar-chart"></i> <span class="ms-1 d-none d-sm-inline">Statistics</span>
                                </div>
                            </a>
                        </div>
                    </li>

                </ul>

                <hr>
                <div class="dropdown pb-4">
                    <a href="#" th:text="${#authentication.getPrincipal().getUsername()}", class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person"></i> <span class="d-none d-sm-inline mx-1"></span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser">
                        <li><a class="dropdown-item" th:href="@{/tickets/create}">New ticket</a></li>
                        <li><a class="dropdown-item" th:href="@{/users/profile}">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>

                            <a href="javascript: document.logoutForm.submit()" class="dropdown-item"> Logout</a>

                            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                                <input hidden type="submit" th:value="Logout"/>
                            </form>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Main window -->
        <div class="col-10">
            <div class="container">
                <div class="row w-100 justify-content-md-center my-1 mx-1">
                    <div layout:fragment="content">
                        <p>Changing contents</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
</body>

</html>