<!DOCTYPE html>
<html lang="en"
	  xmlns:layout="[http://www.ultraq.net.nz/thymeleaf/layout](http://www.ultraq.net.nz/thymeleaf/layout)">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ticket Management System</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
<section class="vh-100 gradient-custom">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="card bg-dark text-white" style="border-radius: 1rem;">
					<div class="card-body p-5 text-center">

						<div class="mb-md-5 mt-md-4 pb-5">

							<h2 class="fw-bold mb-2 text-uppercase">Login</h2>
								<!-- Place for messages: error, alert etc ... -->
								<div class="form-group">
									<div class="col-xs-15">
										<div>
											<!-- Check for login error -->
											<div th:if="${param.error}">
												<div class="alert alert-danger col-xs-offset-1 col-xs-10">
													Invalid username and password.
												</div>
											</div>
											<!-- Check for logout -->
											<div th:if="${param.logout}">
												<div class="alert alert-success col-xs-offset-1 col-xs-10">
													You have been logged out.
												</div>
											</div>

											<div th:unless="${param.error} or ${param.logout}">
												<p class="text-white-50 mb-5">Please enter your login and password!</p>
											</div>
										</div>
									</div>
								</div>


							<form th:action="@{/authenticateTheUser}" method="POST">

								<div class="form-outline form-white mb-4">
									<input type="text" name="username" id="typeUsername" class="form-control form-control-lg" />
									<label class="form-label" for="typeUsername">Username</label>
								</div>

								<div class="form-outline form-white mb-4">
									<input type="password" name="password" id="typePassword" class="form-control form-control-lg" />
									<label class="form-label" for="typePassword">Password</label>
								</div>

								<button class="btn btn-outline-light btn-primary btn-lg px-5" type="submit">Login</button>

							</form>

							<br>
							<br>
							<div>
								<p class="mb-0">Don't have an account?</p>
								<a th:href="@{/login/demo}" class=" btn btn-danger text-white">Try Test User</a>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>