<!DOCTYPE html>
<html lang="en"
      xmlns:layout="[http://www.ultraq.net.nz/thymeleaf/layout](http://www.ultraq.net.nz/thymeleaf/layout)">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ticket Management System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h2 class="fw-bold mb-2 text-uppercase">Select Role</h2>
                        <br>
                        <div class="mb-md-5 mt-md-4 pb-5">

                            <div class="row">

                                <div class="col">

                                    <form th:action="@{/authenticateTheUser}" method="POST">

                                        <div class="form-outline form-white mb-4">
                                            <input type="hidden" name="username" value="DEMO_USER"/>
                                        </div>
                                        <div class="form-outline form-white mb-4">
                                            <input type="hidden" name="password" value="DEMO_USER"/>
                                        </div>

                                        <button class="demo-user-icon btn btn-outline-light btn-success" type="submit">User</button>

                                    </form>

                                </div>

                                <div class="col">

                                    <form th:action="@{/authenticateTheUser}" method="POST">

                                        <div class="form-outline form-white mb-4">
                                            <input type="hidden" name="username" value="DEMO_ADMIN"/>
                                        </div>
                                        <div class="form-outline form-white mb-4">
                                            <input type="hidden" name="password" value="DEMO_ADMIN"/>
                                        </div>

                                        <button class="demo-user-icon btn btn-outline-light btn-danger" type="submit">Admin</button>

                                    </form>

                                </div>

                            </div>

                            <br>
                            <br>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>