<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title>Tickets Management System</title>
    <meta charset="utf-8">
</head>


<body>
<div layout:fragment="content">

    <h1 class="text-center">Ticket List</h1>

    <div class="row my-2">
        <nav class="d-flex navbar navbar-dark bg-dark">

                <a class="btn btn-sm btn-primary" th:href="@{create}">Add New Ticket</a>

                <form class="ms-auto" th:action="@{/tickets/search}">

                    <input class="form-control-sm me-2" type="search" placeholder="Search by title"
                           aria-label="Search"
                           id="titleToSearch" name="title">

                    <button type="submit" class="btn btn-primary btn-sm">
                        <i class="fa fa-search"></i></button>
                </form>
        </nav>

    </div>

    <div class="row">

        <table class="table table-hover" id="ticket-table">
            <thead class="table">
            <tr>
                <th>
                ID <span class="test">
                        <a th:href="${@replaceOrAddParam.apply('sort', 'id,asc')}">
                            <i class="fa fa-sort-asc"></i>
                        </a>

                        <a th:href="${@replaceOrAddParam.apply('sort', 'id,desc')}">
                            <i class="fa fa-sort-down"></i>
                        </a>
                    </span>
                </th>

                <th>
                    Title <span class="test">
                        <a th:href="${@replaceOrAddParam.apply('sort', 'title,asc')}">
                            <i class="fa fa-sort-asc"></i>
                        </a>

                        <a th:href="${@replaceOrAddParam.apply('sort', 'title,desc')}">
                            <i class="fa fa-sort-down"></i>
                        </a>
                    </span>
                </th>

                <th>
                    Status <span class="test">
                        <a th:href="${@replaceOrAddParam.apply('sort', 'status,asc')}">
                            <i class="fa fa-sort-asc"></i>
                        </a>

                        <a th:href="${@replaceOrAddParam.apply('sort', 'status,desc')}">
                            <i class="fa fa-sort-down"></i>
                        </a>
                    </span>
                </th>

                <th>
                    Priority <span class="test">
                        <a th:href="${@replaceOrAddParam.apply('sort', 'priority,asc')}">
                            <i class="fa fa-sort-asc"></i>
                        </a>

                        <a th:href="${@replaceOrAddParam.apply('sort', 'priority,desc')}">
                            <i class="fa fa-sort-down"></i>
                        </a>
                    </span>
                </th>

                <th>
                    Category <span class="test">
                        <a th:href="${@replaceOrAddParam.apply('sort', 'category,asc')}">
                            <i class="fa fa-sort-asc"></i>
                        </a>

                        <a th:href="${@replaceOrAddParam.apply('sort', 'category,desc')}">
                            <i class="fa fa-sort-down"></i>
                        </a>
                    </span>
                </th>

                <th>
                    Last Updated <span class="test">
                        <a th:href="${@replaceOrAddParam.apply('sort', 'lastUpdated,asc')}">
                            <i class="fa fa-sort-asc"></i>
                        </a>

                        <a th:href="${@replaceOrAddParam.apply('sort', 'lastUpdated,desc')}">
                            <i class="fa fa-sort-down"></i>
                        </a>
                    </span>
                </th>

                <th>
                    Created <span class="test">
                        <a th:href="${@replaceOrAddParam.apply('sort', 'created,asc')}">
                            <i class="fa fa-sort-asc"></i>
                        </a>

                        <a th:href="${@replaceOrAddParam.apply('sort', 'created,desc')}">
                            <i class="fa fa-sort-down"></i>
                        </a>
                    </span>
                </th>

                <th>
                    Requester <span class="test">
                        <a th:href="${@replaceOrAddParam.apply('sort', 'requester.firstName,asc')}">
                            <i class="fa fa-sort-asc"></i>
                        </a>

                        <a th:href="${@replaceOrAddParam.apply('sort', 'requester.firstName,desc')}">
                            <i class="fa fa-sort-down"></i>
                        </a>
                    </span>
                </th>

            </tr>
            </thead>

            <tr th:each="ticket : ${tickets.content}"
                th:onclick="'javascript:rowClicked(\'' + ${ticket.id} + '\');'">
                <td th:text="${ticket.id}"></td>
                <td th:text="${ticket.title}"></td>
                <td th:text="${ticket.status}"></td>
                <td th:text="${ticket.priority}"></td>
                <td th:text="${ticket.category}"></td>
                <td th:text="${#temporals.format(ticket.lastUpdated,'HH:mm:ss dd-MM-yyyy')}"></td>
                <td th:text="${#temporals.format(ticket.created,'HH:mm:ss dd-MM-yyyy')}"></td>

                <td th:text="${ticket.requester.firstName} + ' ' + ${ticket.requester.lastName}"></td>

                <script>
                    function rowClicked(value) {
                        location.href = "/tickets/details?id=" + value;
                    }


                </script>
            </tr>

        </table>
    </div>

    <div class="row my-2">

        <div class="col">
            <div>
                <p>Tickets: <strong th:text="${tickets.getNumberOfElements() == 0} ? ${tickets.getNumber() * 15} : ${tickets.getNumber() * 15 + 1}"/> to
                    <strong th:text="${(tickets.getNumber() * 15) + tickets.getNumberOfElements()}"/> from
                    <strong th:text="${tickets.getTotalElements()}"/></p>
            </div>
        </div>

        <div class="col">
            <nav class="float-end">
                <ul class="pagination">
                    <div th:if="${tickets.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
                        <li class="page-item" th:classappend="${pageNumber==tickets.number + 1} ? disabled : ' '">
                            <a class="page-link"
                               th:href="${@replaceOrAddParam.apply('page', '__${pageNumber}__')}"
                               th:text="${pageNumber}" href="#"></a>
                        </li>
                    </div>
                </ul>
            </nav>
        </div>

    </div>

</div>

</body>

</html>