<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
	<title>Tickets Management System</title>
	<meta charset="utf-8">


</head>

<body>
<div layout:fragment="content">

	<div th:object="${ticket}">

		<h2> Ticket <span th:text="'[' + *{id} + ']' + ':' + *{title} + ' '"></span></h2>

		<div class="d-flex">
				<div th:if="${ticket.requester.id} == ${@getLoggedUserId.get()} or ${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ">
					<a th:href="@{update(id=${ticket.id})}" class="btn btn-sm btn-primary mx-1 mb-1"> <span> <i
							class="fa fa-edit"></i> </span> </a>
				</div>

				<div sec:authorize="hasRole('ROLE_ADMIN')">
					<a th:href="@{delete(id=${ticket.id})}" class="btn btn-sm btn-danger mx-1 mb-1"
					   onclick="if(!(confirm('Are you sure that you want to delete this ticket?'))) return false"> <span> <i
							class="fa fa-trash"></i> </span> </a>
				</div>

		</div>

		<div class="row">

			<div class="col">

				<table th:object="${ticket}" class="table col-4">
					<tr>
						<th class="col-3">Status</th>
						<td class="col-3" th:text="*{status}"></td>

						<th class="col-3">Priority</th>
						<td class="col-3" th:text="*{priority}"></td>
					</tr>

						<th class="col-">Category</th>
						<td class="col-3" th:text="*{category}"></td>

						<th class="col-3">Requested by</th>
						<td class="col-3">

							<a th:href="@{/users/details(id=*{requester.id})}" th:text="*{requester.firstName} + ' ' + *{requester.lastName}">

							</a>

						</td>
					</tr>

					<tr>
						<th class="col-">Last Updated</th>
						<td class="col-3" th:text="*{#temporals.format(lastUpdated,'HH:mm:ss dd-MM-yyyy')}"></td>

						<th class="col-">Created</th>
						<td class="col-3" th:text="*{#temporals.format(created,'HH:mm:ss dd-MM-yyyy')}"></td>
					</tr>

					<tr>
						<th class="col-3">Description</th>
					</tr>

				</table>

			</div>

			<div class="custom-description-group">
				<div class="col mx-2 font-weight-bold" th:text="*{ticketDetails.description}"/>
			</div>

		</div>

		<hr>

		<table class="table col-10">

			<div class="row">
				<label class="mx-2 fw-bold" for="commentsSection">Comments</label>
				<div class="d-flex flex-column comment-section" id="commentsSection">
					<div class="bg-white p-2">
						<div class="custom-comments-group">
							<div th:each="comment : *{comments}">
								<div class="d-flex flex-row user-info">
									<div class="d-flex flex-column justify-content-start ml-2">
										<div class="date text-black-50">
											<span th:text="${comment.author.firstName} + ' ' + ${comment.author.lastName}"></span>
											<span th:text="${#temporals.format(comment.created,'HH:mm:ss dd-MM-yyyy')}"></span>
										</div>
									</div>


								</div>

								<div class="mt-2">
									<p class="comment-text" th:text="${comment.description}"></p>
								</div>

							</div>
						</div>
					</div>


					<form action="#" th:action="@{/tickets/saveComment(ticket_id=${ticket.id})}"
						  th:object="${emptyComment}" method="POST">
						<div class="bg-light p-2">
							<div class="d-flex flex-row align-items-start">
								<textarea class="form-control ml-1 shadow-none textarea"
										  th:field="*{description}"></textarea>
							</div>


							<div class="mt-2 text-right">
								<button type="submit" class="btn btn-primary btn-sm shadow-none">Post comment</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</table>
	</div>
</div>
</body>

</html>