<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Tickets Management System</title>
    <meta charset="utf-8">
</head>

<body>
<div layout:fragment="content">

    <div th:object="${user}">

        <h2 class="text-center">User Information</h2>
        <div class="col">

            <div sec:authorize="hasRole('ROLE_ADMIN')">

                <a th:href="@{updateInfo(id=${user.id})}" class="btn btn-sm btn-primary mx-1 mb-1"> <span> <i
                        class="fa fa-edit"></i> </span> </a>

                <a th:href="@{delete(id=${user.id})}" class="btn btn-sm btn-danger mx-1 mb-1"
                   onclick="if(!(confirm('Are you sure that you want to delete this user?'))) return false"> <span> <i
                        class="fa fa-trash"></i> </span> </a>
            </div>
        </div>

        <div class="col-4">

            <table th:object="${user}" class="table col-4">
                <tr>
                    <th class="col-2">First Name</th>
                    <td class="col-2" th:text="*{firstName}"></td>
                </tr>

                <tr>
                    <th class="col-2">Last Name</th>
                    <td class="col-2" th:text="*{lastName}"></td>
                </tr>

                <tr>
                    <th class="col-2">Email</th>
                    <td class="col-2" th:text="*{email}"></td>
                </tr>

                <tr>
                    <th class="col-2">Phone</th>
                    <td class="col-2" th:text="*{phone}"></td>
                </tr>

                <tr>
                    <th class="col-2">Department</th>
                    <td class="col-2" th:text="*{department}"></td>
                </tr>

            </table>

        </div>

    </div>

    <br>

</div>
</body>

</html>