<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
	<title>Tickets Management System</title>
	<meta charset="utf-8">
</head>


<body>
<div layout:fragment="content">

	<h1 class="text-center"> User List </h1>
	<div class="row my-2">
		<nav class="d-flex navbar navbar-dark bg-dark">

			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<a class="btn btn-sm btn-primary" th:href="@{createNew}">Add New User</a>
			</div>

			<form class="ms-auto" th:action="@{/users/search}">

				<input class="form-control-sm me-2" type="search" placeholder="Search by name"
					   aria-label="Search"
					   id="titleToSearch" name="name">

				<button type="submit" class="btn btn-primary btn-sm">
					<i class="fa fa-search"></i></button>
			</form>
		</nav>
	</div>

	<div class="row">

		<table class="table table-hover" id="ticket-table">
			<thead class="table">
			<tr>

				<th>
					First Name  <span class="test">
                        <a th:href="${@replaceOrAddParam.apply('sort', 'firstName,asc')}">
                            <i class="fa fa-sort-asc"></i>
                        </a>

                        <a th:href="${@replaceOrAddParam.apply('sort', 'firstName,desc')}">
                            <i class="fa fa-sort-down"></i>
                        </a>
                    </span>
				</th>

				<th>
					Last Name <span class="test">
                        <a th:href="${@replaceOrAddParam.apply('sort', 'lastName,asc')}">
                            <i class="fa fa-sort-asc"></i>
                        </a>

                        <a th:href="${@replaceOrAddParam.apply('sort', 'lastName,desc')}">
                            <i class="fa fa-sort-down"></i>
                        </a>
                    </span>
				</th>

				<th>
					Department <span class="test">
                        <a th:href="${@replaceOrAddParam.apply('sort', 'department,asc')}">
                            <i class="fa fa-sort-asc"></i>
                        </a>

                        <a th:href="${@replaceOrAddParam.apply('sort', 'department,desc')}">
                            <i class="fa fa-sort-down"></i>
                        </a>
                    </span>
				</th>

				<th>
					Phone <span class="test">
                        <a th:href="${@replaceOrAddParam.apply('sort', 'phone,asc')}">
                            <i class="fa fa-sort-asc"></i>
                        </a>

                        <a th:href="${@replaceOrAddParam.apply('sort', 'phone,desc')}">
                            <i class="fa fa-sort-down"></i>
                        </a>
                    </span>
				</th>

				<th>
					Email <span class="test">
                        <a th:href="${@replaceOrAddParam.apply('sort', 'email,asc')}">
                            <i class="fa fa-sort-asc"></i>
                        </a>

                        <a th:href="${@replaceOrAddParam.apply('sort', 'email,desc')}">
                            <i class="fa fa-sort-down"></i>
                        </a>
                    </span>
				</th>

				<th>
					Roles <span class="test">
                        <a th:href="${@replaceOrAddParam.apply('sort', 'roles,asc')}">
                            <i class="fa fa-sort-asc"></i>
                        </a>

                        <a th:href="${@replaceOrAddParam.apply('sort', 'roles,desc')}">
                            <i class="fa fa-sort-down"></i>
                        </a>
                    </span>
				</th>


			</tr>
			</thead>

			<tr th:each="user : ${users}"
				th:onclick="'javascript:rowClicked(\'' + ${user.id} + '\');'">
				<td th:text="${user.firstName}"></td>
				<td th:text="${user.lastName}"></td>
				<td th:text="${user.department}"></td>
				<td th:text="${user.phone}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.roles}"></td>


				<script>
                    function rowClicked(value) {
                        location.href = "/users/details?id=" + value;
                    }
                </script>


			</tr>

		</table>

	</div>

	<div class="row my-2">

		<div class="col">
			<p>Users: <strong th:text="${users.getNumberOfElements() == 0} ? ${users.getNumber() * 15} : ${users.getNumber() * 15 + 1}"/> to
				<strong th:text="${(users.getNumber() * 15) + users.getNumberOfElements()}"/> from
				<strong th:text="${users.getTotalElements()}"/></p>
		</div>

		<div class="col">
			<nav class="float-end">
				<ul class="pagination">
					<div th:if="${users.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
						<li class="page-item" th:classappend="${pageNumber==users.number + 1} ? disabled : ' '">
							<a class="page-link"
							   th:href="${@replaceOrAddParam.apply('page', '__${pageNumber}__')}"
							   th:text="${pageNumber}" href="#"></a>
						</li>
					</div>
				</ul>
			</nav>
		</div>

	</div>

</div>

</body>

</html>