<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Tickets Management System</title>
    <meta charset="utf-8">
</head>

<body>
<div layout:fragment="content">

    <h1 class="text-center"> User Profile </h1>

    <br>

    <form action="#" th:action="@{/users/saveInfo}" th:object="${user}" method="POST">

        <input type="hidden" th:field="*{id}"/>

        <div class="row">

            <div class="col-6">
                <a class="btn btn-primary" th:href="@{/users/updateCredential(id=${user.id})}">Change User Password</a>
            </div>

            <div class="col-6"></div>

        </div>

        <div class="row">

            <div class="form-group my-2 col">
                <span>
                    <label for="emailAddress">Email</label>
                    <label class ="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
                </span>
                <input type="text" th:field="*{email}" class="form-control" id="emailAddress" placeholder="username@gmail.com">
            </div>

            <div class="form-group my-2 col">
                <span>
                    <label for="selectStatus">Role</label>
                    <label class ="text-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></label>
                </span>

                <select class="form-control" th:field="*{roles}" id="selectStatus">
                    <option value="ROLE_USER">User</option>
                    <option value="ROLE_ADMIN, ROLE_USER">Admin</option>
                </select>
            </div>
        </div>

        <br>
        <br>

        <div class="row my-2 ">
            <div class="form-group col">
                <span>
                    <label for="inputFirstName">First Name</label>
                    <label class ="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>
                </span>

                <input type="text" th:field="*{firstName}" class="form-control" id="inputFirstName"
                       placeholder="First Name">
            </div>

            <div class="form-group col">
                <span>
                    <label for="inputLastName">Last Name</label>
                    <label class ="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
                </span>

                <input type="text" th:field="*{lastName}" class="form-control" id="inputLastName"
                       placeholder="Last Name">
            </div>

        </div>

        <div class="row my-2 ">
            <div class="form-group col">
                <span>
                    <label for="department">Department</label>
                    <label class ="text-danger" th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></label>
                </span>

                <input type="text" th:field="*{department}" class="form-control" id="department"
                       placeholder="Department">
            </div>

            <div class="form-group col">
                <span>
                    <label for="phone">Phone</label>
                    <label class ="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></label>
                </span>

                <input type="text" th:field="*{phone}" class="form-control" id="phone"
                       placeholder="+48 ...">
            </div>
        </div>


        <button type="submit" class="btn btn-primary my-2">Update</button>

    </form>
</div>
</body>

</html>